/* body{
    background-color:rgb(86, 160, 160);
} */

.App{
    margin: 20px;
    justify-content: center;
}

.app-col2{
    background-size: cover;
  background: url(/home/rahul/projects/capstone/login_page/public/Images/bgimage.jpg);
  /* border-radius: 20px; */


}